body{
margin:0;
font-family:Poppins;
background:linear-gradient(135deg,#4b1a1a,#8b0000);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.login-container{
display:flex;
width:800px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
border-radius:12px;
overflow:hidden;
}

.left{
flex:1;
padding:40px;
}

.left h1{
font-size:36px;
margin-bottom:10px;
}

.left p{
margin-bottom:20px;
}

.left ul{
line-height:2;
}

.right{
flex:1;
background:white;
color:#333;
padding:40px;
}

.right h2{
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:6px;
}

button{
width:100%;
padding:12px;
background:#4b1a1a;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#8b0000;
}

.extra{
margin-top:10px;
font-size:14px;
text-align:center;
}